html {
  min-height: 100%; }

body {
  background-color: #000;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #475058;
  font-weight: normal;
  font-family: "Roboto", Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px; }

h1, h2, h3, h4, h5 {
  font-weight: 100; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 4.3em; }

h3 {
  font-size: 1.14em;
  text-transform: uppercase;
  font-weight: 500; }

h4 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500; }

p {
  font-size: 1.571428571em;
  font-weight: 200;
  margin: 0 auto;
  max-width: 600px;
  line-height: 1.8em; }
  p strong {
    font-weight: 500; }

header {
  padding-top: 20px; }
  header h1 {
    margin: 0;
    padding: 15px 0;
  }
  header h1 a.brand {
      background-image: url(../images/score-logo-type.svg);
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      height: 39px;
      width: 180px;
      padding: 15px 0;
  }
  header h1 a.brand:hover {
        opacity: 0.5;
  }
  header .icon {
    background-image: url(../images/score-logo-mark.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
  }
  header h3 a.brandTM {
    background-image: url(../images/powered-by-tm.svg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 180px;
    padding: 12px;
    opacity: .7;
    float: right;
  }

  button {

    background: #643466;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 12px;
    width: 114px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
  }

  #formBox{
    text-align: left;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }

  .formField{
    color: #111;
    border-radius: 2px;
    border: 0;
  }

  .formFieldComment{
    padding-bottom: 100px;
    color: #111;
    border-radius: 2px;
    border: 0;
  }

  #downloadform {
    margin-top: 140px;
  }

#footerwrap {
  background: #009CDE;
  color: #fff;
  padding: 24px;
  min-height: 44px;
  text-align: center; }
  #footerwrap img {
    margin: 0 auto 16px auto;
    display: block; }
  #footerwrap a {
    color: #fff; }

#topwrap {
  height: 100%;
  color: #fff;
  text-align: center; }

#content h2 {
  margin: 56px 0 22px 0;
  padding: 0; }
#content p {
  margin-bottom: 64px; }

.signupForm {
  text-align: left;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 80px 20px;
  max-width: 500px;
}

.downloadbuttons {
  margin-left: 0px;
  margin-right: auto;
  padding: 20px 0px;
  height: 50px;
}

.phoneBox {
  display: inline-block;
  float: left;
}

.phone-large {
  background-image: url(../images/iphone-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 127px;
  padding-right: 61px;
  padding-left: 60px;
  margin: 0px -50px -120px -50px;
  display: inline-block; }
  .phone-large img {
    width: 253px; }

.phone-small {
  background-image: url(../images/iphone-white.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 65px;
  padding-bottom: 120px;
  padding-right: 54px;
  padding-left: 54px;
  display: inline-block;
  margin: 0px -95px 0px -70px; }
  .phone-small img {
    width: 229px;
    height: auto;
  }

@media (max-width: 34em) {
  .phone-large img {
    width: 229px; 
  }
  .phone-large {
    padding-top: 65px;
    padding-bottom: 120px;
    padding-right: 55px;
    padding-left: 54px;
  }
  .content-wrapper {
    overflow: hidden;
  }
}
#contactform {
  /*color: #36173E;*/
  /*margin-top: 160px;*/
  /*text-align: center;*/
  /*display: inline-block;*/
}
  #contactform input {
    border: 1px solid #643466;
    border-radius: 3px;
    width: auto;
    color: #643466;
    font-size: 1.285714286em;
    margin: 28px auto 0 auto;
    padding: 12px 18px; }
    #contactform input[type="submit"] {
      background: #643466;
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      margin-top: 12px;
      width: 114px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24); }
  #contactform .mc-field-group {
    display: inline-block;
    margin-right: 6px; }
  #contactform div.mce_inline_error {
    position: absolute;
    margin-top: 8px;
    background-color: #FF0000; }
  #contactform #mc_embed_signup input.mce_inline_error {
    border-color: #FF0000; }
  #contactform #mce-responses {
    margin-top: 8px;
    font-size: 1.285714286em;
    max-width: 600px;
    font-weight: 300;
    margin: 8px auto 0 auto; }

#follow {
  color: #7B358B;
  margin: 60px 0 15px 0;
  text-align: center; }
  #follow a {
    display: inline-block;
    height: 36px;
    text-indent: -3000px;
    width: 36px;
    margin: 16px 8px 64px 8px; }
    #follow a#twitter {
      background-image: url(../images/twitter.svg); }
    #follow a#facebook {
      background-image: url(../images/facebook.svg); }
    #follow a:hover {
      opacity: 0.5; }
